{% extends 'squelette/base_complete.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}">
{% endblock %}
{% block css %}
    <link href="{{ asset('style.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1>Bienvenue sur le site ! Vous consultez le site en tant que {{ roles }}</h1>
{% endblock %}
