{% extends 'Squelette/base_complete.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}">
{% endblock %}
{% block css %}
    <link href="{{ asset('style.css') }}" rel="stylesheet">
{% endblock %}
{% block vue %}
    <p>{{ reversed }}</p>
    <h3>Bienvenue sur le site ! Vous consultez le site en tant
        {% if is_granted('ROLE_ADMIN') %}
            qu'administrateur
        {% elseif is_granted('ROLE_CLIENT') %}
            que client
        {% elseif is_granted('ROLE_SUPER_ADMIN') %}
            que super-administrateur
        {% else %}
            qu'anonyme
        {% endif %}
     !</h3>
{% endblock %}
